  body {
    background: linear-gradient(135deg, #a89ffa, #a8e1fc);
    color: #000000;
  }

/* BOLT CURSOR */
  body {
    cursor: url('images/lightning-bolt-outline.png'), auto;
  }  

  html {
    scroll-behavior: smooth;
  }
  
.navbar-title{
  padding-left: 20px;
}

.current-item { /* current menu item */
  background: #cd3798;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Hover effect 
nav a:hover {
  color: #ff66b2; /* light pink for hover
}

/* Active page link 
nav a.active {
  color: #ff4da6; /* stronger pink for active page 
  font-weight: 700;
  border-bottom: 2px solid #ff4da6; /* optional underline effect 
}
*/

/* --------------- HOME PAGE ------------- */
.home-title {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 90px;
  padding-left: 90px; /* PADDING IS WHAT SHIFTS IT BY ADDING SPACE AROUND */
}

.home-description{ /* the 'im a passionate ....' */
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 90px;
  }

.home-subtitle{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 90px;
  padding-top: 10px;
}

.home-scroll{ 
  padding-top: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 90px;
  color: #353333;
  }  

  .home-design-projects{
    padding-top: 500px;
    text-align: center;
    }

  .home-projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 2rem; /* space between items */
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .home-projects-item img{
    width: 520px;
    height: 300px;
    display: block;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #4c2fce;
    box-shadow: -5px 10px 5px rgba(208, 94, 162, 0.7);  
  }

  /* push-down effect */
  .home-projects-item img:hover{
    transform: translateY(4px);
    box-shadow: 0px 0px 0px;  
  } 

  /* other proejcts section in home page */
  .home-projects{
    padding-top: 300px;
    text-align: center;
  }    
  
  /* contact section in home page */
  .home-contact{
    padding-top: 300px;
    text-align: center;
    padding-bottom: 200px;
  }

  .contact-me-button{
    text-decoration: none;
    height: 80px;
    width: 200px;
    padding: 10px 20px;
    background-color: #ce2f84;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 6px 4px rgba(208, 94, 162, 0.7);
  }

  .contact-me-button:hover{
    transform: translateY(4px);
    box-shadow: 0px 0px 0px;
    background-color: #511c5c;
    color: white;
    text-decoration: none; 
  } 
  
/* --------------- ABOUT ME ------------- */
.about-me-item{ /* the links that lead to diff sections on the page */
  display: inline-block;
  color: #eb396e;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  margin-right: 0.4rem;
  text-decoration: none;
 }

.about-me-text{
  height: 0px;
  justify-content: left;
  align-items: center;
  line-height: 1.6;
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 60px;
  font-family: Menlo, Consolas, 'Courier New', monospace;
}

.about-me-image{
  width: 330px;
  height: 380px;
  margin-top: 8rem; /* adjust this value */
  border-radius: 20px;
  box-shadow: -5px 10px 5px rgba(208, 94, 162, 0.7);  
}
/* i want to add a circular image with a vinyl outline and when i click on it it spins and plays a sound */

a:hover .about-me-image{
  transform: translateY(4px);
  box-shadow: 0px 0px 0px;
  opacity: 0.8;
}

.how-i-work{
  padding-top: 150px;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 50px;
}

.how-i-work-text{
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 60px;
}

.my-education{
  padding-top: 30px;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 50px;
}

 /* .projects-button{
    height: 50px;
    width: 170px;
    background-color: #4c2fce;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .projects-button:hover{
    background-color: #7b74db;
  }*/

  .keyword {
    display: inline-block;
    background-color: #eb396e1a;
    color: #eb396e;
    font-size: 1rem;              
    font-weight: 800;
    padding: 0.45rem 0.8rem;      
    margin: 0 0.3rem;             
    border-radius: 999px;
    transition: 0.2s ease;
  }

  /* -------------- UI UX --------------- */
  .back-button{
    background: #353333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .home-projects-container{
  }

  .home-projects-design{
    display: flex;
    flex-direction: column;        /* stack the text */
    justify-content: center;       /* center vertically */
    align-items: center;           /* center horizontally */
    text-align: center;
    color: #1a1a1a;
  }

  /* -------------- PROJECTS -------------- */
  .coming-soon {
    display: flex;
    flex-direction: column;        /* stack the text */
    justify-content: center;       /* center vertically */
    align-items: center;           /* center horizontally */
    height: 90vh;                  /* full height of the viewport */
    text-align: center;
    padding: 4rem 1rem;
    color: #000000;
    }
  
  .coming-desc {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #353333;
  }
  
  .coming-tag {
    margin-top: 1rem;
    font-weight: bold;
    color: #eb396e;
    text-transform: uppercase;
    letter-spacing: 1px;
  }  

  /* ----------- TYPEWRITER EFFECT --------- */
  #typewriter {
    color: #d63384; /* pinkish highlight */
    font-weight: bold;
    border-right: 2px solid black;
    padding-right: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { border-color: rgb(48, 108, 217); }
    50% { border-color: transparent; }
    100% { border-color: rgb(48, 108, 217); }
  }  

  /* ------------ LIGHT/DARK MODE STUFF ----------- */
  body.dark-mode {
    background: linear-gradient(135deg, #511c5c, #4c2fce); /* LIGHT MODE gradient */
    color: #ffffff;
  }  

  .navbar.dark-mode,
  .navbar.dark-mode .nav-link,
  .navbar.dark-mode .navbar-brand{
    color: #ffffff !important;
  }
      
  #darkModeToggle:hover {
    background-color: #df77ba; /* slightly lighter on hover */
  }  
  
  /* for the projects */
  body.dark-mode .coming-soon, 
  body.dark-mode .coming-desc,
  body.dark-mode .home-scroll{
    color: #ffffff;
  }

  /* */


  